<center>
  <h1>Fitness-ing<h1>
  <h3>Welcome, let's get your body revolution started!</h3>

<iframe src="//giphy.com/embed/Nf8vX5K7AHcAg" width="480" height="365" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/richard-simmons-Nf8vX5K7AHcAg"></a></p>
</center>
